html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul, ol {
  padding-left: 1.5rem;
}

body {
  line-height: 1.5;
}
